.root {
    padding:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.avatar {
    border-radius:50%;
    width:140px;
    height:140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}